  websockets==15.0.1                                                                                                          
  jpype1==1.5.2                                                                                                               
  pyghidra==3.0.0                                                                                                             
  lief==0.17.2                                                                                                                
  flare-floss==3.1.1   